<h1 mat-dialog-title>Detalles del Ticket</h1>
<div mat-dialog-content>
  <p><strong>ID:</strong> {{ data.supportTicket.id }}</p>
  <p>
    <strong>Estado:</strong>
    {{ data.supportTicket.status ? "Activo" : "Inactivo" }}
  </p>
  <p>
    <strong>Descripcion del problema:</strong>
    {{ data.supportTicket.description }}
  </p>
  <p>
    <strong>Fecha de carga:</strong>
    {{ data.supportTicket.creationtimestamp | date }}
  </p>
  <p>
    <strong>Fecha de modificacion:</strong>
    {{ data.supportTicket.modificationtimestamp | date }}
  </p>
  <p><strong>Cargado por:</strong> {{ data.supportTicket.creationuser }}</p>
  <p>
    <strong>Modificado por:</strong> {{ data.supportTicket.modificationuser }}
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">Close</button>
</div>
