<!--
<form [formGroup]="loginForm">
  <p class="text-danger">{{ loginError }}</p>
  <div class="mb-3">
    <label for="exampleInputUser" class="form-label">Usuario</label>
    <input
      formControlName="username"
      type="text"
      class="form-control"
      id="exampleInputUser"
      aria-describedby="exampleInputUsername"
    />

    <div
      *ngIf="username.invalid && (username.dirty || username.touched)"
      class="text-danger"
    >
      <div *ngIf="username.hasError('required')">El usuario es requerido.</div>
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Contraseña</label>
    <input
      formControlName="password"
      type="password"
      class="form-control"
      id="exampleInputPassword1"
    />

    <div
      *ngIf="password.invalid && (password.dirty || password.touched)"
      class="text-danger"
    >
      <div *ngIf="password.hasError('required')">
        La contraseña es requerida.
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" (click)="login()">
    Iniciar Sesión
  </button>
</form>-->

<form [formGroup]="loginForm" (ngSubmit)="login()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>INICIAR SESION</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Usuario</mat-label>
        <input
          matInput
          formControlName="username"
          placeholder="Ingrese su usuario"
        />
        <mat-error
          *ngIf="username.invalid && (username.dirty || username.touched)"
        >
          <div *ngIf="username.hasError('required')">
            El usuario es requerido.
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="Ingrese su contraseña"
        />
        <mat-error
          *ngIf="password.invalid && (password.dirty || password.touched)"
        >
          <div *ngIf="password.hasError('required')">
            La contraseña es requerida.
          </div>
        </mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">
        Iniciar Sesión
      </button>
    </mat-card-actions>
  </mat-card>
</form>
