<div class="game-list">
  <div *ngFor="let juego of juegos" class="game-card" [class.in-library]="juego.isInLibrary">
    
    <div class="library-badge" *ngIf="juego.isInLibrary">🎮 En biblioteca</div>

    <div class="game-image" (click)="onGameClick(juego.id)">
      <img
        [src]="juego.imageBase64 
         ? 'data:' + juego.imageContentType + ';base64,' + juego.imageBase64 
         : 'https://picsum.photos/350/120'"
        alt="Imagen de {{ juego.gamename }}"
      />

    <div class="game-details" (click)="onGameClick(juego.id)">
      <h3>{{ juego.gamename }}</h3>
      <p>
        {{ juego.publisherName }} •
        {{ juego.release_date | date : "MMMM yyyy" }}
      </p>
      <div class="info2">
        <div class="game-categories">
          <span
            class="category-tag"
            *ngFor="let categoria of juego.categoriasNames"
            >{{ categoria }}</span
          >
        </div>
        <p class="game-price">{{ juego.price | currency }}</p>
      </div>
    </div>

    <div *ngIf="isLoggedIn && !isLibrary">
      <!-- Wishlist Mode -->
      <ng-container *ngIf="!isWishlist; else removeButton">
        <div (click)="toggleWishlist(juego); $event.stopPropagation()" class="wishlist-icon-container">
          <i
            class="material-icons wishlist-icon"
            [ngClass]="{ 'wishlist-added': juego.isInWishlist }"
            [ngStyle]="{ color: 'purple' }"
          >
            {{ juego.isInWishlist ? "star" : "star_border" }}
          </i>
        </div>
      </ng-container>

      <ng-template #removeButton>
        <p class="eliminar-juego">
          <span (click)="removeFromWishlist.emit(juego.id); $event.stopPropagation()">Eliminar</span>
        </p>
      </ng-template>
    </div>
  </div>
</div>