
  <div *ngIf="isLoading" class="loading-section">
    <mat-spinner></mat-spinner>
    <p class="loading-text">Cargando tu lista de deseos...</p>
  </div>


<div *ngIf="!isLoading && wishlist.length === 0" class="empty-section">
  <i class="fas fa-star title-icon"></i>
  <h3>Tu lista de deseos está vacía</h3>
  <p>Explora nuestra tienda y guarda tus juegos favoritos.</p>
  <button mat-raised-button color="primary" routerLink="/inicio">
    Ver juegos
  </button>
</div>

<div *ngIf="!isLoading && wishlist.length > 0" class="titulo-container">
  <i class="fas fa-star title-icon"></i>
  <h3>Lista de deseos</h3>
</div>

<app-juego-list
  *ngIf="!isLoading && wishlist.length > 0"
  [juegos]="wishlist"
  [isLoggedIn]="isLoggedIn"
  [isWishlist]="isWishlist"
  (gameSelected)="verDetalle($event)"
  (removeFromWishlist)="removeFromWishlist($event)"
>
</app-juego-list>