@media (max-width: 600px) {
    mat-card {
        width: 100%;
        margin-top: 2em;
        border-radius: 15px;
    }


    mat-card-header {
        display: flex;
        justify-content: center;
        margin: 2em;
    }

    mat-card-title {
        color: #A65CFA;
        font-size: 2em;
    }


    mat-form-field {
        width: 100%;
        margin-bottom: 20px;
    }

    mat-error {
        display: flex;
    }


    mat-card-actions {
        padding: 16px;
    }

    mat-card-actions>button {
        width: 100%;
        margin: 0 auto;
        padding: 12px 24px;
    }
}