<form [formGroup]="registerForm" (ngSubmit)="register()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>CREA TU CUENTA</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="username" placeholder="Ingrese su usuario" />
                <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">
                    <div *ngIf="username.hasError('required')">
                        El usuario es requerido.
                    </div>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="email" type="text" placeholder="Ingrese su correo electronico" />
                <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.hasError('required')">
                        La correo electronico es requerido.
                    </div>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="password" type="password" placeholder="Ingrese su contraseña" />
                <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                    <div *ngIf="password.hasError('required')">
                        La contraseña es requerida.
                    </div>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="password2 != null || password2 != ''">
                <mat-label>Confirma tu contraseña</mat-label>
                <input matInput formControlName="password2" type="password" placeholder="Repita su contraseña" />
                <mat-error *ngIf="password2.invalid && (password2.dirty || password2.touched)">
                    <div *ngIf="password2.hasError('required')">
                        La contraseña es requerida.
                    </div>
                </mat-error>
            </mat-form-field>

            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        Información adiconal
                    </mat-expansion-panel-header>

                    <mat-form-field appearance="fill">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="realname" type="text" placeholder="Nombre" />
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Apellido</mat-label>
                        <input matInput formControlName="surname" type="text" placeholder="Apellido" />
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Fecha de nacimiento</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="user.birth_date" name="birth_date" />
                        <mat-hint>DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                </mat-expansion-panel>
            </mat-accordion>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">
                Registrarse
            </button>
        </mat-card-actions>
    </mat-card>
</form>