<div>
  <form (ngSubmit)="getPublisher()">
    <label for="publisherId">Buscar Publisher por ID: </label>
    <input
      type="text"
      id="publisherId"
      [(ngModel)]="searchId"
      name="searchId"
      color="primary"
    />
    <button type="submit">🔎</button>
  </form>
</div>

<div *ngIf="publisher">
  <h1>{{ publisher.publishername }}</h1>
  <p><strong>ID:</strong> {{ publisher.id }}</p>
  <p><strong>Nombre:</strong> {{ publisher.publishername }}</p>
  <p><strong>Fecha de Fundación:</strong> {{ publisher.foundation_date }}</p>
  <p><strong>Fecha de Disolución:</strong> {{ publisher.dissolution_date }}</p>
  <p><strong>Estado:</strong> {{ publisher.status }}</p>
  <p><strong>Creado por:</strong> {{ publisher.creationuser }}</p>
  <p><strong>Fecha de Creación:</strong> {{ publisher.creationtimestamp }}</p>
  <p><strong>Modificado por:</strong> {{ publisher.modificationuser }}</p>
  <p>
    <strong>Fecha de Modificación:</strong>
    {{ publisher.modificationtimestamp }}
  </p>
</div>
