$primary-color: rgb(72, 24, 92);
$hover-color: rgb(54, 15, 72);
$text-color: rgb(188, 185, 185);
$shadow-color: rgba(0, 0, 0, 0.3);

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.sidenav-container {
    height: 100vh;
    display: flex;
}

.sidenav {
    min-width: max-content;
    max-width: 300px;
    height: 100%;
    background: $primary-color;
    color: $text-color;
    display: flex;
    flex-direction: column;
}

mat-nav-list {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.mat-list-item {
    display: flex;
    flex-direction: column;
    /* Asegura que los elementos se apilen correctamente */
    width: 100%;
    padding: 0;

    .menu-item-container {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 12px 16px;
        /* Ajusta el espacio para que el contenido no se recorte */
    }

    .menu-button {
        flex-grow: 1;
        /* Hace que el texto del botón ocupe el máximo espacio */
        text-align: left;
        background-color: transparent;
        color: $text-color;
        border: none;
        font-size: 16px;
        font-weight: lighter;
        white-space: nowrap;
        /* Evita que el texto se divida en varias líneas */
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
            background-color: $hover-color;
        }
    }

    .expand-button {
        flex-shrink: 0;
        /* Evita que el botón se reduzca demasiado */
        margin-left: 8px;
        width: 40px;
        height: 40px;
    }
}

.submenu-item {
    padding-left: 24px;
    /* Indenta los submenús */
}

.mat-sidenav-content {
    flex-grow: 1;
    overflow: auto;
}