<mat-toolbar>
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <mat-toolbar-row>
        <button *ngFor="let item of menuItems" mat-button [routerLink]="item.endpoint">
            {{ item.title }}
        </button>

    </mat-toolbar-row>

    <!-- Submenús -->
    <mat-toolbar-row *ngFor="let item of menuItems">
        <div *ngIf="item.subMenus?.length">
            <button mat-button (click)="toggleSubMenu(item)">
                <mat-icon>{{ item['expanded'] ? 'expand_less' : 'expand_more' }}</mat-icon>
            </button>
            <div *ngIf="item['expanded']">
                <span *ngFor="let subItem of item.subMenus" [routerLink]="subItem.endpoint">
                    {{ subItem.title }}
                </span>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>