<mat-sidenav-container class="sidenav-container">
    <!-- Menú lateral -->
    <mat-sidenav #sidenav mode="side" class="sidenav">
        <mat-nav-list>
            <mat-list-item *ngFor="let item of menuItems">
                <div class="menu-item-container">
                    <!-- Botón del menú principal -->
                    <button mat-button (click)="navigate(item.endpoint)" class="menu-button">
                        {{ item.title }}
                    </button>

                    <!-- Botón para expandir (solo si tiene submenús) -->
                    <button *ngIf="item.subMenus?.length" mat-icon-button (click)="toggleSubMenu(item)"
                        class="expand-button">
                        <mat-icon>{{ item.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
                    </button>
                </div>

                <!-- Lista de submenús -->
                <mat-nav-list *ngIf="item.expanded">
                    <mat-list-item *ngFor="let subItem of item.subMenus" class="submenu-item">
                        <button mat-button (click)="navigate(subItem.endpoint)">
                            {{ subItem.title }}
                        </button>
                    </mat-list-item>
                </mat-nav-list>
            </mat-list-item>


        </mat-nav-list>
    </mat-sidenav>

    <!-- Contenido principal -->
    <mat-sidenav-content class="content">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>{{ sidenav.opened ? 'chevron_left' : 'menu' }}</mat-icon>
        </button>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>