$main-color: #5A189A;

header {
  background-color: $main-color;
  text-align: center;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white; 
  }

  h1 {
    margin: 0.5em;
    font-size: 2.5rem;
  }

}