<div>
  <div class="title-crud">
    <h3>Hostings</h3>
  </div>

  <div class="row filtroCrud">

    <mat-accordion class="">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> FILTROS </mat-panel-title>
        </mat-expansion-panel-header>

        <form #categoriasForm="ngForm">
          <mat-form-field appearance="outline" class="col-4">
            <mat-label>Usuario</mat-label>
            <input matInput type="text" name="usuarioTicket" required minlength="1" />
          </mat-form-field>
        </form>

      </mat-expansion-panel>
    </mat-accordion>
  </div>


  <div class="tabla-crud normal-table row">
    <table mat-table [dataSource]="hostings" class="mat-elevation-z8 ">
      <!-- ID  -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="width: 10%;">ID</th>
        <td mat-cell *matCellDef="let row" style="width: 10%; text-align: center;">{{ row.id }}</td>
      </ng-container>

      <!-- Nombre -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef style="width: 80%;">Nombre</th>
        <td mat-cell *matCellDef="let row" style="width: 80%; padding-left: 30%;">
          {{ row.name }}
        </td>
      </ng-container>

      <!--  Acciones -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="width: 10%;">Acciones</th>
        <td mat-cell *matCellDef="let row" style="width: 10%; text-align: center;">
          <button mat-icon-button color="primary" (click)="showDetails(row.id)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="openEditDialog(row.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="openDeleteDialog(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <button mat-icon-button class="add-btn" color="primary" aria-label="Añadir" (click)="openCreateDialog()"
      style="background-color: #bc71fe; margin-top: 1vh;">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>