<mat-card class="update-user-card">
  <mat-card-header>
    <mat-card-title>Actualizar Roles del Usuario</mat-card-title>
    <mat-card-subtitle>Seleccioná uno o más roles</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form #userForm="ngForm" class="form-grid">
      <!-- Roles (múltiples) -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Roles</mat-label>
        <mat-select [(ngModel)]="selectedRoles" name="rolDescriptions" multiple required>
          <mat-option *ngFor="let role of selectedRoles" [value]="role.rol?.id">
            {{ role.rol?.description }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="userForm.submitted && selectedRoles.length === 0">
          Al menos un rol es obligatorio
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-flat-button color="warn" type="button" (click)="cancel()">
      Cancelar
    </button>
    <button mat-raised-button color="primary" type="submit" (click)="onUpdateUser()" [disabled]="userForm.invalid">
      Actualizar
    </button>
  </mat-card-actions>
</mat-card>