<mat-card class="dialog-card">
  <mat-card-header>
    <mat-card-title>Actualizar roles</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form #userForm="ngForm" class="form-grid">
      <div class="row">
        <!-- Roles (múltiples) -->
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Roles</mat-label>
          <mat-select [(ngModel)]="selectedRoles" name="rolDescriptions" multiple required>
            <mat-option *ngFor="let role of roles" [value]="role">
              {{ role }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="userForm.submitted && selectedRoles.length === 0">
            Al menos un rol es obligatorio
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions class="action-buttons">
    <button mat-stroked-button color="warn" type="button" (click)="cancel()">
      Cancelar
    </button>
    <button mat-raised-button color="primary" type="submit" (click)="onUpdateUser()" [disabled]="userForm.invalid">
      Actualizar
    </button>
  </mat-card-actions>
</mat-card>