<!-- Botón volver -->
<div class="back-button-container">
  <button mat-fab color="primary" class="back-fab" (click)="back()" aria-label="Volver">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<!-- Contenido principal -->
<mat-card *ngIf="juego" class="game-details-card">
  <!-- Imagen -->
  <img mat-card-image [src]="juego.image_path ? juego.image_path : 'https://picsum.photos/350/120'" alt="Imagen del juego" />

  <!--<img mat-card-image  [src]="juego.imageBase64 ? 'data:' + juego.imageContentType + ';base64,' + juego.imageBase64 : 'https://picsum.photos/350/120'" alt="Imagen del juego"/>-->

  <mat-card-header>
    <mat-card-title>{{ juego.gamename }}</mat-card-title>
    <mat-card-subtitle>Fecha de lanzamiento: {{ juego.release_date | date:'longDate' }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p><strong>Publicador:</strong> {{ juego.publisherName }}</p>
    <p><strong>Desarrollador:</strong> {{ juego.developerName }}</p>

    <div class="game-categories">
      <p><strong>Categorías:</strong></p>
      <mat-chip-listbox>
        <mat-chip *ngFor="let categoria of juego.categoriasNames" color="primary" selected>
          {{ categoria }}
        </mat-chip>
      </mat-chip-listbox>
    </div>

  <p><strong>Precio:</strong>
    <span [ngClass]="juego.price === 0 ? 'free-price' : 'paid-price'">
      {{ juego.price === 0 ? 'FREE TO PLAY' : (juego.price | currency:'USD') }}
    </span>
  </p>

    <p *ngIf="isInLibrary" class="text-muted">
      Este juego ya está en tu biblioteca.
    </p>

    <!-- Código de Canje -->
    <div *ngIf="isInLibrary" class="redeem-section">
      <mat-icon color="primary">vpn_key</mat-icon>
      <span class="redeem-label">Tu código de canje:</span>

      <span class="redeem-code">
        {{ showRedeemCode ? redeemCode : '•••••••••••••••' }}
      </span>

      <button mat-icon-button (click)="toggleRedeemCode()" [matTooltip]="showRedeemCode ? 'Ocultar' : 'Mostrar'">
        <mat-icon>{{ showRedeemCode ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </div>

  </mat-card-content>

  <!-- Botones -->
  <mat-card-actions *ngIf="token">
    <button
      *ngIf="!isInWishlist"
      mat-stroked-button
      color="primary"
      (click)="addToWishlist()"
    >
      Agregar a Wishlist
    </button>

    <button
      *ngIf="isInWishlist"
      mat-stroked-button
      color="warn"
      (click)="removeFromWishlist()"
    >
      Quitar de Wishlist
    </button>

    <button
      *ngIf="!isInCart && !isInLibrary"
      mat-raised-button
      color="accent"
      (click)="addToCart()"
    >
      Agregar al Carrito
    </button>

    <button
      *ngIf="isInCart && !isInLibrary"
      mat-raised-button
      [color]="cartBtnHover ? 'warn' : 'accent'"
      (mouseenter)="cartBtnHover = true"
      (mouseleave)="cartBtnHover = false"
      (click)="removeFromCart()"
    >
      {{ cartBtnHover ? 'Quitar del Carrito' : 'Ya en el Carrito' }}
    </button>
  </mat-card-actions>
</mat-card>