<mat-card class="dialog-card">
  <mat-card-header>
    <mat-card-title>Crear desarrollador</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #desarrolladoresForm="ngForm">
      <div class="row">
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" [(ngModel)]="desarrollador.developername" name="developername" #name="ngModel"
            minlength="1" required />

          <button *ngIf="desarrollador.developername" matSuffix mat-icon-button aria-label="Clear"
            (click)="desarrollador.developername = ''">
            <mat-icon>close</mat-icon>
          </button>

          <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
            El nombre del desarrollador no puede estar vacío.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col-6" appearance="outline">
          <mat-label>Fundacion</mat-label>
          <input matInput [matDatepicker]="picker1" [(ngModel)]="desarrollador.foundation_date" name="foundation_date"
            [max]="today" required />
          <mat-hint>DD/MM/AAAA</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="col-6" appearance="outline">
          <mat-label>Disolucion</mat-label>
          <input matInput [matDatepicker]="picker2" [(ngModel)]="desarrollador.dissolution_date"
            name="dissolution_date" />
          <mat-hint>DD/MM/AAAA</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>

    </form>
  </mat-card-content>

  <mat-card-actions class="action-buttons">
    <button mat-stroked-button type="button" color="secondary" (click)="cancel()">
      Cancelar
    </button>
    <button mat-flat-button type="submit" color="primary" [disabled]="desarrolladoresForm.invalid"
      (click)="createDesarrollador()">
      Crear
    </button>
  </mat-card-actions>
</mat-card>