<mat-card class="detail-view-card">
  <mat-card-header>
    <div mat-card-avatar class="header-icon">
      <mat-icon>sports_esports</mat-icon>
    </div>
    <mat-card-title>{{ data.juego.gamename }}</mat-card-title>
    <mat-card-subtitle>ID: {{ data.juego.id }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="detail-grid">
      <div class="detail-item">
        <span class="label">Fecha de Lanzamiento:</span>
        <span>{{ data.juego.release_date | date:'dd/MM/yyyy' }}</span>
      </div>
      <div class="detail-item">
        <span class="label">Publicación:</span>
        <span>{{ data.juego.publishment_date | date:'dd/MM/yyyy HH:mm' }}</span>
      </div>
      <div class="detail-item">
        <span class="label">Precio:</span>
        <span>{{ data.juego.price | currency }}</span>
      </div>
      <div class="detail-item">
        <span class="label">Publisher:</span>
        <span>{{ data.juego.publisherName }}</span>
      </div>
      <div class="detail-item">
        <span class="label">Desarrollador:</span>
        <span>{{ data.juego.developerName }}</span>
      </div>
      <div class="detail-item">
        <span class="label">Categorías:</span>
        <span>{{ data.juego.categoriasNames.join(', ') }}</span>
      </div>
      <div class="detail-item">
        <span class="label">Creado:</span>
        <span>{{ data.juego.creationtimestamp | date:'dd/MM/yyyy HH:mm' }}</span>
      </div>
      <div class="detail-item">
        <span class="label">Creado por:</span>
        <span>{{ data.juego.creationuser }}</span>
      </div>
      <div class="detail-item">
        <span class="label">Modificado:</span>
        <span>
          {{ data.juego.modificationtimestamp ? (data.juego.modificationtimestamp | date:'dd/MM/yyyy HH:mm') : '—' }}
        </span>
      </div>
      <div class="detail-item">
        <span class="label">Modificado por:</span>
        <span>{{ data.juego.modificationuser || '—' }}</span>
      </div>
    </div>

    <img [src]="data.juego.image_path" alt="Imagen del Juego" class="game-thumbnail"/>
    <!--<img *ngIf="data.juego.imageBase64"
     [src]="data.juego.imageBase64 
             ? 'data:' + data.juego.imageContentType + ';base64,' + data.juego.imageBase64 
             : 'https://picsum.photos/350/120'" 
     alt="Imagen del Juego" 
     class="game-thumbnail" />-->

  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-stroked-button color="primary" (click)="onClose()">Cerrar</button>
  </mat-card-actions>
</mat-card>