<mat-card class="dialog-card">
  <mat-card-header>
    <mat-card-title>Crear Hosting</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #hostingForm="ngForm">

      <div class="row">
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput type="text" [(ngModel)]="hosting.name" name="name" #name="ngModel" required minlength="1" />

          <button *ngIf="hosting.name" matSuffix mat-icon-button aria-label="Clear" (click)="hosting.name = ''">
            <mat-icon>close</mat-icon>
          </button>

          <!-- Mensaje de error si el campo está vacío -->
          <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
            El nombre del hosting no puede estar vacío.
          </mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="hosting.status" name="status">
            <mat-option [value]="true">Activo</mat-option>
            <mat-option [value]="false">Inactivo</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </form>
  </mat-card-content>

  <mat-card-actions class="action-buttons">
    <button mat-stroked-button type="button" color="secondary" (click)="cancel()">
      Cancelar
    </button>
    <button mat-flat-button type="submit" color="primary" [disabled]="hostingForm.invalid" (click)="createHosting()">
      Crear
    </button>
  </mat-card-actions>
</mat-card>