<div>
  <h2>Create Publisher</h2>
  <form (ngSubmit)="createPublisher()">
    <label for="publisherName">Publisher Name:</label>
    <input
      type="text"
      id="publisherName"
      [(ngModel)]="publisher.publishername"
      name="publishername"
      required
    />
    <br />

    <label for="foundationDate">Foundation Date:</label>
    <input
      type="date"
      id="foundationDate"
      [(ngModel)]="publisher.foundation_date"
      name="foundation_date"
    />
    <br />

    <label for="status">Status:</label>
    <input
      type="text"
      id="status"
      [(ngModel)]="publisher.status"
      name="status"
    />
    <br />

    <button type="submit">Create</button>
  </form>
</div>
