<mat-card class="detail-view-card">
  <mat-card-header>
    <div mat-card-avatar class="header-icon">
      <mat-icon>cloud</mat-icon>
    </div>
    <mat-card-title>{{ data.hostingpublisher.hosting.name }}</mat-card-title>
    <mat-card-subtitle>{{ data.hostingpublisher.publisher.publishername }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div class="detail-grid">
      <mat-label>Almacenamiento</mat-label>

      <div class="detail-item">
        <span class="label">Tipo</span>
        <span>{{ data.hostingpublisher.storageType }}</span>
      </div>

      <div class="detail-item">
        <span class="label">Tamaño</span>
        <span>{{ data.hostingpublisher.storageAmmount }}</span>
      </div>

      <div class="detail-item">
        <span class="label">Memoria RAM:</span>
        <span>{{ data.hostingpublisher.ramAmmount }}</span>
      </div>

      <div class="detail-item">
        <span class="label">Especificaciones CPU</span>
        <span>{{ data.hostingpublisher.cpuSpecs }}</span>
      </div>

      <div class="detail-item">
        <span class="label">Uptime</span>
        <span>{{ data.hostingpublisher.uptimePercentage }}</span>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-stroked-button color="primary" (click)="onClose()">Cerrar</button>
  </mat-card-actions>
</mat-card>