.game-item {
  border-bottom: var(--game-item-border-bottom);
  margin: 10px 5px;
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 1em;
  background-color: var(--game-item-bg-color);
  transition: background-color 0.3s ease;
  overflow: visible;
}

.game-item:hover {
  transform: scale(1.01);
  background-color: #dbdbdb;
  border-bottom: var(--game-item-border-bottom-hover);
  cursor: pointer;
}

.dropdown-selector{
    margin-top: 20px;
}

img {
  object-fit: cover;
  border-radius: 4px;
  margin: 0;
}

.mat-mdc-list-item-icon {

  width: 15% !important;
  height: 100% !important;
  margin: 0 1em !important;
}