.toolbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}

.app-name {
  font-size: 18px;
  font-weight: bold;
}

.center-section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  overflow: hidden;
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.search-bar input {
  flex: 1;
  padding: 6px 8px;
  border: none;
  background: transparent;
  color: #fff;
  outline: none;
}

.search-bar .divider {
  width: 1px;
  height: 60%;
  background-color: rgba(255, 255, 255, 0.5);
}

.search-bar button {
  background: transparent;
  border: none;
  padding: 6px 8px;
  color: #fff;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.h1 {
  font-family: 'DarkerHollow';
}