<!-- Toolbar -->
<div role="banner">
  <nav style="background-color: rgb(55, 17, 72); padding: 10px 20px;">
    <div class="toolbar-container">

      <header class="header toolbar">
        <div class="header-content">
          <img src="assets/images/logo.png" alt="DMC - Offers Logo" class="logo" routerLink="/inicio" />
          <h1 class="h1">DmcOffers</h1>
        </div>
      </header>

      <!-- Centro: Buscador -->
      <div class="col-12 center-section">
        <div class="col-md-4 col-lg-4 col-xl-6 search-bar">
          <input type="text" [(ngModel)]="searchTerm" (keydown.enter)="onSearch()" />
          <div class="divider"></div>
          <button (click)="onSearch()">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>

      <!-- Derecha: Usuario + Carrito -->
      <div class="right-section">
        <div *ngIf="!userLoginOn" class="user-actions">
          <button mat-icon-button [matMenuTriggerFor]="menu" style="color: white;">
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="login()" routerLink="/iniciar-sesion">
              <span>Iniciar Sesión</span>
            </button>
            <button mat-menu-item (click)="register()" routerLink="/register">
              <span>Registrarse</span>
            </button>
          </mat-menu>
        </div>

        <div *ngIf="userLoginOn" class="user-actions">
          <button mat-icon-button [matMenuTriggerFor]="menu" style="color: white;">
            <mat-icon>person</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/info">
              <span>Mi Perfil</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <span>Cerrar Sesión</span>
            </button>
          </mat-menu>

          <button mat-icon-button (click)="showProximamente()" aria-label="Carrito de compras" style="color: white;">
            <mat-icon>shopping_cart</mat-icon>
          </button>
        </div>
      </div>

    </div>
  </nav>
</div>