<mat-card class="dialog-card">
  <mat-card-header>
    <mat-card-title>Añadir juego</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form #juegoForm="ngForm" enctype="multipart/form-data" class="form-grid">
      <div class="row">
        <!-- Nombre -->
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput [(ngModel)]="juego.gamename" name="juegoname" required #name="ngModel" />
          <button mat-icon-button *ngIf="juego.gamename" matSuffix (click)="juego.gamename = ''">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error *ngIf="name.invalid && (name.touched || name.dirty)">Nombre requerido</mat-error>
        </mat-form-field>
      </div>

      <div class="row">
        <!-- Desarrollador -->
        <mat-form-field appearance="outline" class="col-6">
          <mat-label>Desarrollador</mat-label>
          <mat-select [(ngModel)]="juego.developerName" name="developername" required>
            <mat-option *ngFor="let desarrollador of desarrolladores" [value]="desarrollador.developername">
              {{ desarrollador.developername }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Publisher -->
        <mat-form-field appearance="outline" class="col-6">
          <mat-label>Publicador</mat-label>
          <mat-select [(ngModel)]="juego.publisherName" name="publishername" required>
            <mat-option *ngFor="let publisher of publishers" [value]="publisher.publishername">
              {{ publisher.publishername }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row">
        <!-- Categorías -->
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Categorías</mat-label>
          <mat-select [(ngModel)]="juego.categoriasNames" name="categoriasnames" multiple required>
            <mat-option *ngFor="let categoria of categorias" [value]="categoria.description">
              {{ categoria.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="row">
        <!-- Fecha de salida -->
        <mat-form-field appearance="outline" class="col-6">
          <mat-label>Fecha salida</mat-label>
          <input matInput [matDatepicker]="picker1" [(ngModel)]="juego.release_date" name="release_date" required />
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <!-- Precio -->
        <mat-form-field appearance="outline" class="col-6">
          <mat-label>Precio</mat-label>
          <input matInput type="number" [(ngModel)]="juego.price" name="price" required min="0" />
        </mat-form-field>

      </div>
      <div class="row">
        <!-- Imagen -->
        <div class="image-upload">
          <label>Portada</label>
          <input #fileInput type="file" accept="image/*" (change)="onFileSelected($event)" />

          <div *ngIf="selectedFile" class="image-file-info">
            <button mat-stroked-button color="warn" (click)="removeImage()">Quitar imagen</button>
          </div>
        </div>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions class="action-buttons">
    <button mat-stroked-button color="warn" type="button" (click)="cancel()">
      Cancelar
    </button>

    <button mat-flat-button color="primary" (click)="createJuego()" [disabled]="juegoForm.invalid">
      Crear
    </button>
  </mat-card-actions>
</mat-card>