mat-card {
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

mat-spinner {
  margin-top: 3rem;
}

.cart-unfilled{
  color: var(--cart-unfilled-txt-msg) !important;
}

.mat-card-container{
  background-color: var(--cart-card-bg-color);
  color: var(--cart-card-title-txt-color);
}
.price-txt {
  color: var(--cart-unit-price-txt-color) !important;
}

.cart-title-h2{
  color:var(--cart-title-h2-color) ;
}

.cart-total-price{
  color:var(--cart-total-price-color);
}
.container {
  max-width: 800px;
  margin: auto;
}

.juego-nombre {
  font-size: 1.3rem;
  //font-weight: bold;
}

img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 4px;
  margin: 0;
}

.mat-mdc-list-item-icon {
  width: 15% !important;
  height: 80px !important;
  margin: 0 1em !important;
}