<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Crear Ticket de Soporte</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="createSupportTicket()">
      <mat-form-field class="form-field">
        <mat-label>Describinos tu problema</mat-label>
        <textarea
          matInput
          type="text"
          [(ngModel)]="supportTicket.description"
          name="descripcion"
          #name="ngModel"
          required
          rows="4"
          minlength="1"
          placeholder="Escribí tu problema aquí"
        ></textarea>

        <button
          *ngIf="supportTicket.description"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="supportTicket.description = ''"
          style="position: absolute; right: 10px; top: 10px"
        >
          <mat-icon>close</mat-icon>
        </button>

        <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
          La descripcion no puede estar vacía.
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="button"
        (click)="showProximamente()"
      >
        <mat-icon>attach_file</mat-icon>
        <span>Adjuntar Documentación</span>
      </button>

      <br />
      <br />

      <div class="action-buttons">
        <button mat-flat-button type="submit" color="primary">Crear</button>
        <button mat-flat-button color="secondary" (click)="cancel()">
          Cancelar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
