@import '../src/assets/styles/variables';
/* You can add global styles to this file, and also import other style files */
// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap');

  html {
    font-family: "Roboto Mono", monospace !important;
    font-weight: 700;
    font-style: normal;
  }

  body {
    font-family: "Roboto Mono", monospace;
  }
header {
  background-color: $main-color;
}

/* You can add global styles to this file, and also import other style files */
// Variable overrides first
//$primary: #900;
$enable-shadows: true;
$prefix: "mo-";




