/*para que los datepicker no queden debajo de los modal... quizas podria buscarse otra solucion*/
.cdk-overlay-container {
    z-index: 1051;
}

.g-recaptcha {
    transform: scale(0.77);
    transform-origin: 0 0;
}