// Colores comunes
$white-color: #ffffff;
$white-smoke-color: whitesmoke;
$text-color: #F8F8F8;


//colores principales
$main-color: #673ab7;
$main-header-color: #48185c;
$side-nav-primary-color: #48185c;
$section-title-main-color: #6c3483;
$light-gray-background-color: #f5f5f5;