
//linea que divide
mat-divider{
  background-color: var(--line-divider);
}

.crud-delete-dialog {
  max-width: 500px;
  padding: 1.5rem;
  border-radius: 12px;

  mat-card-title {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    font-weight: bold;
    color: #d32f2f;
  }

  mat-icon {
    margin-right: .6em;
  }

  .content {
    padding-top: 1rem;

    .confirmation-text {
      font-size: 1rem;
      line-height: 1.5;
      color: #444;
    }
  }

  .actions {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;

    button {
      min-width: 100px;
    }
  }
}

.title-crud h3{
  color: var(--title-crud-h3)
}

.update-card {
  max-width: 600px;
  padding: 1rem;
  border-radius: 12px;
  max-height: 90vh;
  overflow: hidden;

  .mat-mdc-card-content {
    padding: 0;
    overflow-y: auto;
    padding-top: 1rem;
    padding-right: 1rem;
    max-height: 70vh;
    margin-bottom: 1rem;
  }

  mat-card-title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  mat-card-subtitle {
    font-size: 0.95rem;
    color: #666;
    margin-bottom: 1rem;
  }



  .form-grid {
    display: grid;
    gap: 1rem;
  }

  .image-upload {
    margin-top: 1rem;

    label {
      font-weight: 500;
      display: block;
      margin-bottom: 0.5rem;
    }

    input[type='file'] {
      margin-top: 0.25rem;
    }

    .game-thumbnail {
      margin-top: 1em;
      width: 100%;
      max-height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }

  .action-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
}

.detail-view-card {
  max-width: 640px;
  border-radius: 16px;
  max-height: 90vh;
  overflow: hidden;

  .mat-mdc-card-content {
    overflow-y: auto;
    max-height: 70vh;
  }

  mat-card-header {
    align-items: center;

    .header-icon {
      background-color: #3f51b5;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    mat-card-title {
      font-size: 1.6rem;
      font-weight: 600;
    }

    mat-card-subtitle {
      font-size: 0.9rem;
      color: #888;
    }
  }

  mat-card-content {
    margin-top: 1rem;
  }

  .detail-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    font-size: 0.95rem;
    padding: 0.5rem 0;

    .detail-item {
      display: flex;
      flex-direction: column;

      .label {
        font-weight: 600;
        color: #555;
        margin-bottom: 0.25rem;
      }

      span {
        color: #333;
      }
    }
  }

  mat-card-actions {
    margin-top: 1rem;
    padding-right: 1rem;
  }
}