<div *ngIf="userLoginOn" class="dashboard-container">
  <div class="card-container">
    <div class="card-item">
      <app-publisher></app-publisher>
    </div>
    <div class="card-item">
      <app-categorias></app-categorias>
    </div>
    <div class="card-item">
      <app-desarrolladores></app-desarrolladores>
    </div>
    <div class="card-item">
      <app-hosting></app-hosting>
    </div>
    <div class="card-item">
      <app-support-ticket></app-support-ticket>
    </div>
    <div class="card-item">
      <app-juegos-crud></app-juegos-crud>
    </div>
  </div>
</div>
