<app-nav></app-nav>
<p *ngIf="!userLoginOn">Usuario NO autenticado</p>
<p *ngIf="userLoginOn">Usuario autenticado</p>

<div class="card">
  <div class="card-header">Datos Personales</div>
  <div class="card-body m-0">
    <app-personal-details></app-personal-details>
  </div>
</div>

<div class="content" role="main">
  <!-- Get All Tabla Publishers -->
  <app-publisher-list></app-publisher-list>

  <!-- Get One Publisher-->
  <app-publisher-detail></app-publisher-detail>

  <!-- Get One Publisher-->
  <app-publisher-create></app-publisher-create>

  <app-publisher-delete></app-publisher-delete>

  <!-- Footer -->
</div>
