<div class="update-container">
  <form #publisherForm="ngForm">
    <mat-form-field class="form-field">
      <mat-label>Nombre del publisher</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="publisher.publishername"
        name="publishername"
        #name="ngModel"
        required
        minlength="1"
      />

      <button
        *ngIf="publisher.publishername"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="publisher.publishername = ''"
      >
        <mat-icon>close</mat-icon>
      </button>

      <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
        El nombre no puede estar vacío.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fundacion</mat-label>
      <input
        matInput
        [matDatepicker]="picker1"
        [(ngModel)]="publisher.foundation_date"
        name="foundation_date"
        [max]="today"
        required
      />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker1"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <br />
    <mat-form-field>
      <mat-label>Disolucion</mat-label>
      <input
        matInput
        [matDatepicker]="picker2"
        [(ngModel)]="publisher.dissolution_date"
        name="disolution_date"
      />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker2"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <br />
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="onUpdatePublisher()"
      [disabled]="publisherForm.invalid"
    >
      Actualizar
    </button>

    <button mat-flat-button color="secondary" (click)="cancel()">
      Cancelar
    </button>
  </form>
</div>
