<mat-toolbar class="footer">
  <div class="footer-content">
    <div class="footer-links">
      <a href="#">Términos y condiciones</a>
      <a href="#">Política de privacidad</a>
      <a href="/soporte">Soporte</a>
      <a href="#">Contacto</a>
    </div>

    <div class="footer-legal">
      <p><strong>© 2025 DmcOffers. Todos los derechos reservados.</strong> Esta aplicación tiene fines informativos y no
        representa a ninguna entidad gubernamental ni comercial de manera oficial.</p>
      <p>El contenido de este sitio no constituye asesoramiento legal ni profesional. El uso de la plataforma implica la
        aceptación de los términos y condiciones.</p>
    </div>

    <div style="text-align: center;">
      <a href="" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>

  </div>
</mat-toolbar>